.container {
    display: flex;
    align-items: flex-start;
    align-items: center;
    gap: 20px;
}

.curList, .addForm, .exList, .changeForm {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.curList, .exList {
    margin-right: 40px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.centered {
    text-align: center;
    vertical-align: middle;
}

